@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background: #FFFEF9;
}

a {
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

input {
    outline: none;
    border: 1px solid #dfdfdf;
}

.container {
    width: 600px;
    margin: 0 auto;
}

.header {
    box-shadow: 0px 0px 15px black;
    background: white;
}

.header_warp {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_auth {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header_auth a {
    padding: 8px 28px;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid transparent;
}

.header_auth_login {
    color: white;
    background-color: #D23669;
}

.header_auth_login:hover {
    transform: translateX(-20px);
    transition: all 0.2s;
}

.header_auth_register {
    color: #D23669;
    border: 1px solid #D23669 !important;
    transition: all .2s;
}

.header_auth_register:hover {
    background: #d236695f;
    transform: translateX(20px)
}

.header_logo {
    width: 35px;
    height: 35px;
    background: #D23669;
    border-radius: 50%;
}

.header_user {
    display: flex;
    align-items: center;
    gap: 30px;
}

.btn_solid {
    padding: 8px 28px;
    border: 1px solid transparent;
    color: white;
    background-color: #D23669;
    border-radius: 5px;
}

.header_user_card {
    display: flex;
    gap: 5px;
    cursor: pointer;
    /* border: 1px solid black; */
    align-items: center;
    position: relative;

}

.header_user_profile {
    display: flex;
    width: 12px;
    height: 12px;
    align-items: center;
}

.header_user_modale {
    margin-top: 30px;
    border: 1px solid #D23669;
    width: 160px;
    height: 200px;
    right: 230px;
    top: 5px;
    position: absolute;
    background-color: white;
    border-radius: 6px;
    opacity: 0;
    visibility: hidden;
}

.header_user_modale ul, li {
    height: 200px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.header_user_modale.active {
    opacity: 1;
    visibility: visible;
}


.home {
    margin-top: 20px;
}

.cards {
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cards_item {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    padding: 20px 54px 21px 46px;
    transition: all .2s;
}

.cards_item span {
    margin-top: 5px;
}

.cards_item p {
    margin-top: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.cards_item h2 {
    color: #D23669
}

.cards_item:hover {
    transform-origin: right bottom;
    transform: rotate(1deg);
    border: 1px solid #D23669;

}

.cards_item_header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}