@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap'); 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body{
    background: #FFFEF9;
}

a{
    
    text-decoration: none;
    border-radius: 5px;
}

.container{
    width: 600px;
    margin: 0 auto;
}

.header{
    box-shadow: 0px 0px 15px black;
    background: white;
}

.header_warp{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_auth{
    display: flex;
    align-items: center;
    gap: 20px;
}

.header_auth a{
    padding: 8px 28px;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid transparent;
}

.header_auth_login{
    color: white;
    background-color: #D23669;
}

.header_auth_register{
    color: #D23669;
    border: 1px solid #D23669 !important;
}

.header_logo{
    width: 35px;
    height: 35px;
    background: #D23669;
    border-radius: 50%;
}

.header_user{
    display: flex;
    align-items: center;
    gap: 30px;
}

.btn_solid{
    padding: 8px 28px;
    border: 1px solid transparent;
    color: white;
    background-color: #D23669;
}

.header_user_card{
    display: flex;
    gap: 5px;
    cursor: pointer;
}

.home{
    margin-top: 20px;
}

.cards{
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cards_item{
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    padding: 20px 54px 21px 46px;
}

.cards_item span{
    margin-top: 5px;
}

.cards_item p{
    margin-top: 10px;   
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.cards_item h2{
    color:#D23669
}
.cards_item_header{
    display: flex;
    justify-content: space-between;
}