*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #FFFEF9;
}

.container{
    width: 600px;
    margin: 0 auto;
}

.header{
    box-shadow: 0px 0px 15px black;
    background: white;
}

.header_warp{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_auth{
    display: flex;
    align-items: center;
    gap: 20px;
}

.header_auth a{
    padding: 8px 28px;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid transparent;
}

.header_auth_login{
    color: white;
    background-color: #D23669;
}

.header_auth_register{
    color: #D23669;
    border: 1px solid #D23669 !important;
}

.header_logo{
    width: 35px;
    height: 35px;
    background: #D23669;
    border-radius: 50%;
}