textarea {
    resize: none;
}

h1 {
    margin-top: 20px;
}

.newpost_h1 {
    padding-left: 30px;
    width: 100%;
}

.newpost_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    width: 600px;
    height: 690px;
    left: 420px;
    top: 108px;
}

.newpost_file {
    margin-top: 15px;
    width: 540px;
    height: 165px;
    position: relative;
    background: #F5F5F5;
    border-radius: 5px;
}

.newpost_span {
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 85%;
}

.newpost_file input[type=file] {
    position: relative;
    opacity: 0;
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.newpost_btn {
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    background-color: grey;
    width: 75px;
    height: 75px;
    left: 50%;
    top: 50%;
}

.newpost_inputs {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.newpost_inputs input {
    width: 540px;
    height: 41px;
    left: 450px;
    top: 371px;
}

.newpost_inputs input, textarea {
    background: #F5F5F5;
    border-radius: 5px;
}

.newpost_inputs textarea {
    padding-left: 15px;
    padding-top: 13px;
    font-size: 18px;
    color: #000000;
    border: none;
}

.newpost_inputs ::placeholder {
    padding-left: 15px;
    font-size: 18px;
    color: #000000;
}

.newpost_inputs button {
    font-size: 18px;
}

.newpost_inputs_category {
    position: relative;
}

.newpost_inputs_category_img {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(-50%, -50%);
}